.search-id-container {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.search-inner {
    display: flex;
    justify-content: flex-end;
}

.search-inner a{
    text-decoration: none;
}

.search-inner a svg {
    font-size: 1.5rem;
    color: #e4dede;
    cursor: pointer;
}

.search-inner svg:hover {
    font-size: 1.6rem;
}

.search-inner input {
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid #e4dede;
    color: #e4dede;
    font-size: 2h;
    background-color: transparent;
}

.search-inner input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.dropdown {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    position: absolute;
    margin-top: 2rem;
}

.dropdown:empty {
    border: none;
}

.dropdown-row{
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
}

.dropdown-row:hover{
    background-color: #aeaaaa;
}
